/* цветовая палитра */
:root {
    --main-color: #4B0082;   /* основной цвет */
    --accent-color: #FF6347; /* акцентный цвет */
    --text-light: #ffffff; /* светлый цвет  для текста*/
    --text-dark: #333; /* тёмный цвет для текста */
}

body {
    margin: 0; /*  */
    font-family: "Segoe UI", sans-serif; /* Шрифты для текста на страницы */
    background: #ecf0f1; /*  цвет основной страницы*/
}




/* меню */
.menu {
    background: var(--main-color); /*  применение в качестве фона меню назначенного цвета*/
    padding: 20px; /* настройка внутренних отступов */
}

.menu ul {
    list-style: none; /* избавление от маркеров списка*/
    margin: 0; 
    padding: 0;
    display: flex; 
    justify-content: center; /*выравниевание элементов flexbox по центру*/
    gap: 40px; /*настройка растояний между элементами flexbox*/
}

.menu li {
    opacity: 0; /*элемент полностью прозрачный*/
    transform: translateY(-15px); /*перемещён на 15 пикселей вверх*/
    animation: fadeIn 0.6s ease-in-out forwards;  /*применяется ранее созданная анимация, 
	длительность наримации 0.6 секунд, замедление в начале и в конце, сохренение конечного состояния анимации*/
    animation-delay: calc(var(--delay) * 0.15s); /*настройка отставания анимации элементов*/
}

/* Анимация появления */
@keyframes fadeIn {
    to { /*описание элемента в конце анимации*/
        opacity: 1; /*полностью виден*/
        transform: translateY(0); /*находится на своём месте*/
    }
}

.menu a {
    color: var(--text-light); /*применение цвета из ранее созданной переменной*/
    text-decoration: none; /*скрытие подчёркивания пунктов меню*/
    font-size: 20px; /*утсановка размера текста*/
    font-weight: 500; /*установка ширины текста*/
    position: relative; /*позволяет привязать к пунктам меню будущую линию для подчёркивания*/
    transition: color 0.3s ease; /*задаём плавное изменение цвета*/
}

/* Подчёркивание при наведении */
.menu a::after {
    content: "";  /*пустая строка */
    position: absolute;/*задаётся расположения относительно родительского элемента*/
    left: 0; /*задаётся начало элемента с левого края родительского элемента*/
    bottom: -4px; /*задаётся начало элемента на 4 пикселя ниже родительского*/
    width: 0%; /*начальная ширина линии*/
    height: 3px; /*толщина линии*/
    background: var(--accent-color); /*цвет линии*/
    transition: width 0.3s ease; /*задаётся плавное изменение ширины*/
}

.menu a:hover {
    color: var(--accent-color); /*задаётся изменение пунктов меню при наведении мыши*/
}

.menu a:hover::after {
    width: 100%; /*изменение ширины линии при наведении*/
}


/* анимация для карточек */
.cards {
    display: flex;
    justify-content: center;
    gap: 20px; /*задаётся расстояние между карточками*/
    padding: 40px; /*добавляем отступы, чтобы карточки не слипались с другими элементами*/
}

.card {
	/*задаются размеры и цвет карточек*/
    width: 200px;
    height: 120px;
    background: #fff;
    border-radius: 12px; /*скругление углов карточек*/
    box-shadow: 0 4px 10px rgba(0,0,0,0.1); /*добавление тени под элемент, размытие 10px, цвет и прощрачность*/
    display: flex;
    align-items: center; /*вертикальное выравнивание содержимого*/
    justify-content: center; /*горизонтальное выравнивание содержимого*/
    font-size: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /*настройка плавности анимации*/
}

/* Масштаб + тень при наведении */
.card:hover {
    transform: translateY(-8px) scale(1.03); /*карточка поднимается на 8 пикселей и увеличивается*/
    box-shadow: 0 10px 20px rgba(0,0,0,0.15); /*тень смещается, размывается и темнеет*/
}
